@import "base";


.Post_form_box {
  width: 1100px;
  height: 890px;
  background-color: white;
  margin: 0 auto;
  .Post_form {
    width: 1000px;
    margin: 0 auto;
    padding: 40px 0;
    &__Content {
      margin-bottom: 35px;
      font-size: 15px;
      label {
        font-weight: bold;
        display: inline-block;
        margin-bottom: 3px;
      }
      .Image_label {
        margin-bottom: 6px;
      }
      &__Field {
        height: 40px;
        width: 1000px;
        margin-bottom: 5px;
        padding: 5px;
        border: solid 1px $gray1;
        border-radius: 3px;
        background-color: white;
        margin: 0 auto;
        &--Large {
          width: 1000px;
          padding: 5px;
          border: solid 1px $gray1;
          border-radius: 3px;
          background-color: white;
        }
      }
    }
    &__Btn {
      margin: 50px auto 30px;
    }
  }
}

.Post_index {
  width: 1110px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  .Post_box {
    margin: 20px;
    .Post_content {
      width: 330px;
      height: 380px;
      background-color: white;
      .Post_image {
        width: 100%;
        height: 200px;
        object-fit: cover;
      }
      .Post_text {
        padding: 5px 15px;
        .Post_title {
          height: 78px;
          font-weight: bold;
          font-size: 17px;
          margin: 5px 0 30px;
        }
        .Post_time {
          font-size: 13px;
          color: $gray4;
        }
        .Post_user_name {
          font-size: 15px;
        }
      }
    }
  }
}