$yellow: #ffff80;
$orange: #FF8C00;
$orange1: #FF6D05;
$orange2: #FFC882;
$gray1: #A4A8B1;
$gray2: #B3B8BB;
$gray3: #D4D6D5;
$gray4: #7B7D7F; /* 時間 */
$black: #4A4A4A;
$link_blue: #3273dc;
$blue: #00A9FF;

a {
  color: black;
  text-decoration: none;
}

.Btn {
  width: 100px;
  background-color: $blue;
  color: white;
  font-size: 14px;
  padding: 8px 10px;
  border-style: none;
  border-radius: 5px;
  display: block;
  margin: 50px auto 30px;
  cursor: pointer;
}