.Comment_box {
  width: 900px;
  background-color: white;
  margin: 0 auto;
  margin-top: 40px;
  padding: 60px;
  .Comment_title {
    font-weight: bold;
  }
  .Comment_form {
    width: 100%;
    margin-bottom: 40px;
    &__Field {
      width: 100%;
      padding: 5px;
      border: solid 1px $gray2;
      border-radius: 3px;
    }
    .Nickname_field {
      height: 40px;
      margin: 20px 0;
    }
    .Comment_form__Btn {
      margin-top: 20px;
      margin-right: 0;
    }
  }
  .Comment_empty {
    margin-top: 20px;
    color: $gray3;
    font-size: 15px;
  }
  .Comment{
    padding: 25px 0;
    border-top: solid 1px $gray1;
    .Comment_info {
      display: flex;
      justify-content: space-between;
      margin-bottom: 7px;
      .Nickname {
        font-weight: bold;
        font-size: 15px;
      }
      .Time {
        color: $gray3;
        font-size: 12px;
        line-height: 15px;
      }
    }
    .Comment_content {
      font-size: 15px;
    }
  }
  .Comment:first-child {
    border: none;
  }
}